@model Hairdresser.Models.Visit

@{
    ViewData["Title"] = "Details";
}

<h1>Szczegóły wizyty</h1>

<div>
    <h4>Visit</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Data
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            Fryzjer
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HairdresserName)
        </dd>
        <dt class = "col-sm-2">
            Klient
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientName)
        </dd>
        <dt class = "col-sm-2">
            Email Klienta
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientEmail)
        </dd>
        <dt class = "col-sm-2">
            Telefon Klienta
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientPhone)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edytuj</a> |
    <a asp-action="Index">Powrót do listy</a>
</div>
